.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product-container {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}
.checkout {
    background-color: coral;
    color: white;
    margin-top: 10px;
    border-radius: 5px;
    width: 90%;
}